@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about__content {
  width: $widthSite;
  height: auto;
  @include flex-center-top;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-color: $mainBackground;
  padding: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &_container {
    width: $widthSiteContent;
    color: $textColor;
    font-family: 'Open Sans', sans-serif;
    border-top: 2px solid $colorBack;
    border-bottom: 2px solid $colorBack;
    padding: 10px;
    border-radius: 8px;

    &_description {
      width: 100%;
    }

    h1, h2 {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      font-weight: lighter;

    }

    &_head {
      font-size: 34px;
      text-shadow: 2px 2px 4px #000000;
    }

    &_hello {
      font-size: 24px;
    }

    li {
      list-style-type: none;
    }

    p {
      text-align: justify;
      font-size: $sizePage;
    }
    .item_link {
      text-decoration: none;
      font-size: $sizePage;
      color: inherit;
      list-style-type: none;
    }
    .item_link:hover {
      color: $colorH1;
      text-shadow: 2px 2px 0 rgb(58, 56, 56);
    }
    .item_link:after {
      color: $colorH1;
      text-shadow: 2px 2px 0 rgb(58, 56, 56);
    }
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .about__content {
    width: 340px;
    &_container {
      width: 340px;


      &_head {
        font-size: 20px;
        text-shadow: 1px 1px 2px #000000;
      }

      &_hello {
        font-size: 16px;
      }

      li {
        list-style-type: none;
        font-size: 11px;
      }

      p {
        text-align: justify;
        font-size: 11px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .about__content {
    width: 576px;

    &_container {
      width: 576px;

      &_head {
        font-size: 24px;
        text-shadow: 2px 2px 4px #000000;
      }

      &_hello {
        font-size: 18px;
      }

      li {
        list-style-type: none;
        font-size: 12px;
      }

      p {
        text-align: justify;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about__content {
    width: 750px;

    &_container {
      width: auto;

      &_head {
        font-size: 26px;
        text-shadow: 2px 2px 4px #000000;
      }

      &_hello {
        font-size: 20px;
      }

      li {
        list-style-type: none;
        font-size: 12px;
      }

      p {
        text-align: justify;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about__content {
    min-width: 980px;
    max-width: 1199px;

    &_container {
      width: 980px;

      h1, h2 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-weight: lighter;


      }

      &_head {
        font-size: 28px;
        text-shadow: 2px 2px 4px #000000;
      }

      &_hello {
        font-size: 22px;
      }

      li {
        list-style-type: none;
        font-size: 14px;
      }

      p {
        text-align: justify;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .about__content {
    width: 1180px;

    &_container {
      width: 1200px;
      padding: 10px;
      border-radius: 8px;
    }
  }

  @media (min-width: 1440px) and (max-width: 1600px) {
    .about__content {
      width: $widthSite;
      height: auto;
      @include flex-center-top;
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      background-color: $mainBackground;
      padding: 20px;

      &_container {
        width: $widthSiteContent;
        color: $textColor;
        font-family: 'Open Sans', sans-serif;
        border-top: 2px solid $colorBack;
        border-bottom: 2px solid $colorBack;
        padding: 10px;
        border-radius: 8px;

        h1, h2 {
          font-family: 'Open Sans', sans-serif;
          text-align: center;
          font-weight: lighter;

        }

        &_head {
          font-size: 34px;
          text-shadow: 2px 2px 4px #000000;
        }

        &_hello {
          font-size: 24px;
        }

        li {
          list-style-type: none;
        }

        p {
          text-align: justify;
          font-size: 16px;
        }
      }
    }
  }
}