@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";


.header__navigate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $headerBackground;
  height: 75px;
  &_width {
    width: $widthSiteContent;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &_none {
    width: 200px;
  }
  &_head {
    @include flex-center-row;
  }


}
.head__nav {
  @include flex-center-row;
  height: 75px;
  background-color: $headerBackground;
  &_item {
    cursor: pointer;
    color: white;
    font-size: $sizeNavigate;
    list-style-type: none;
  }
  &_item a {
    text-decoration: none;
  }
  &_menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 500px;
  }
}
