@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.main__content {
  height: auto;
  width: $widthSite;
  background: $mainBackground;
  margin: 0 auto;
  padding: 0;
  @include flex-center-top;
  font-family: 'Open Sans', sans-serif;
}

.articles_container {
  @include flex-center-column;
  margin-top: 50px;
  width: $widthSiteContent;
  font-family: 'Open Sans', sans-serif;
  gap: 30px;


  &_article-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 500px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transfopm 0.5s ease;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &_image-wrapper {
    padding: 10px;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  &_article-image {
    width: 300px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 50%;

    &:hover {
      transform: scale(1.05);
    }
  }

  &_article-content {
    padding: 15px;

    h3 {
      margin-top: 0;
      color: #333;
    }

    .article-date, .article-updated {
      font-size: 0.8em;
      color: $textColor;
    }
    p {
      font-size: 0.8em;
    }
  }
}

.article-block {
  @include grid-2x2-plus-row;
  width: 100%;
}

.loading, .error {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
}

.error {
  color: $colorError;
}

.articles_navigate {
  border-bottom: 2px solid #cbc8c8;
}

.category-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-button {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #f5f5f5;
  }

  &.active {
    background: $textColor;
    color: $colorH1;
    border-color: $headerBackground;
  }
}

.read-more-button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: $colorBack;
  color: $colorNavigate;

  &:hover {
    background: $colorH1;
    color: $textColor;
    box-shadow: 0 4px 8px rgb(108, 107, 107);
  }
}

@for $i from 1 through 10 {
  .articles_container_article-card:nth-child(#{$i}) {
    transition-delay: $i * 0.1s;
  }
}

.pagination-carts {
  width: $widthSiteContent;
  height: 40px;
  margin-top: 20px;
  @include flex-center-top;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  font-size: $sizePage;

  &_toPage {
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 20px;
    text-align: center;
    background: $colorBack;
    color: $colorNavigate;
    border: none;
    cursor: pointer;

    &:hover {
      background: $colorH1;
      color: $textColor;
      box-shadow: 0 4px 8px rgb(108, 107, 107);
    }
  }
}

@media (min-width: 375px) and (max-width: 575px) {
  .main__content {
    height: auto;
    width: 375px;
  }

  .articles_container {
    @include flex-center-column;
    margin-top: 10px;
    width: 375px;
    gap: 10px;

    &_article-content {
      padding: 10px;

      h3 {
        margin-top: 0;
        color: #333;
      }

      .article-date, .article-updated {
        font-size: 0.5em;
        color: $textColor;
      }
    }

    &_article-card {
      width: 250px;
      height: 250px;

      &:active {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    &_image-wrapper {
      padding: 20px;
      width: 100%;
      height: 150px;


    }

    &_article-image {
      width: 150px;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      border-radius: 50%;

      &:active {
        transform: scale(1.05);
      }
    }

    &_article-content {
      padding: 10px;

      p {
        visibility: hidden;
      }

      h3 {
        font-size: 18px;
      }

      .article-date, .article-updated {
        font-size: 0.3em;
        color: $textColor;
      }
    }
  }

  .article-block {
    display: flex;
    width: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loading, .error {
    padding: 20px;
    text-align: center;
    font-size: 1em;
  }

  .error {
    color: $colorError;
  }

  .articles_navigate {
    border-bottom: 2px solid #cbc8c8;
  }

  .category-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .read-more-button {
    position: absolute;
    bottom: 7px;
    right: 80px;
    width: 80px;
    height: 20px;
    font-size: 14px;

    &:active {
      background: $colorH1;
      color: $textColor;
      box-shadow: 0 4px 8px rgb(108, 107, 107);
    }
  }

  .pagination-carts {
    width: 375px;
    height: 30px;

    &_toPage {
      border-radius: 5px;
      height: 20px;
      width: 60px;
      font-size: 14px;
      text-align: center;
      background: $colorBack;
      color: $colorNavigate;
      border: none;
      cursor: pointer;
      &:active {
        background: $colorH1;
        color: $textColor;
        box-shadow: 0 4px 8px rgb(108, 107, 107);
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main__content {
    height: auto;
    width: 576px;
  }

  .articles_container {
    @include flex-center-column;
    margin-top: 10px;
    width: 576px;
    gap: 10px;

    &_article-content {
      padding: 10px;

      h3 {
        margin-top: 0;
        color: #333;
      }

      .article-date, .article-updated {
        font-size: 0.5em;
        color: $textColor;
      }
    }

    &_article-card {
      width: 250px;
      height: 250px;

      &:active {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    &_image-wrapper {
      padding: 20px;
      width: 100%;
      height: 150px;


    }

    &_article-image {
      width: 150px;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      border-radius: 50%;

      &:active {
        transform: scale(1.05);
      }
    }

    &_article-content {
      padding: 10px;

      p {
        visibility: hidden;
      }

      h3 {
        font-size: 18px;
      }

      .article-date, .article-updated {
        font-size: 0.3em;
        color: $textColor;
      }
    }
  }

  .article-block {
    @include grid-2x2-plus-row;
    justify-items: center;
    width: 576px;
  }

  .loading, .error {
    padding: 20px;
    text-align: center;
    font-size: 1em;
  }

  .error {
    color: $colorError;
  }

  .articles_navigate {
    border-bottom: 2px solid #cbc8c8;
  }

  .category-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .read-more-button {
    position: absolute;
    bottom: 7px;
    right: 80px;
    width: 80px;
    height: 20px;
    font-size: 14px;

    &:active {
      background: $colorH1;
      color: $textColor;
      box-shadow: 0 4px 8px rgb(108, 107, 107);
    }
  }

  .pagination-carts {
    width: 576px;
    height: 30px;

    &_toPage {
      border-radius: 5px;
      height: 20px;
      width: 60px;
      font-size: 14px;
      text-align: center;
      background: $colorBack;
      color: $colorNavigate;
      border: none;
      cursor: pointer;
      &:active {
        background: $colorH1;
        color: $textColor;
        box-shadow: 0 4px 8px rgb(108, 107, 107);
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .main__content {
    height: auto;
    width: 768px;
  }

  .articles_container {
    @include flex-center-column;
    margin-top: 20px;
    width: 768px;
    gap: 20px;

    &_article-content {
      padding: 10px;
      h3 {
        margin-top: 0;
        color: #333;
      }

      .article-date, .article-updated {
        font-size: 0.6em;
        color: $textColor;
      }
    }

    &_article-card {
      width: 350px;
      height: 350px;

      &:active {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    &_image-wrapper {
      padding: 20px;
      width: 100%;
      height: 200px;
      overflow: hidden;
    }

    &_article-image {
      width: 200px;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      border-radius: 50%;

      &:active {
        transform: scale(1.05);
      }
    }

    &_article-content {
      padding: 10px;

      h3 {
        margin-top: 0;
        color: #333;
      }
      .article-date, .article-updated {
        font-size: 0.3em;
        color: $textColor;
      }
      p {
        visibility: hidden;
      }
    }
  }

  .article-block {
    @include grid-2x2-plus-row;
    justify-items: center;
    width: 768px;
  }

  .loading, .error {
    padding: 20px;
    text-align: center;
    font-size: 1em;
  }

  .error {
    color: $colorError;
  }

  .articles_navigate {
    border-bottom: 2px solid #cbc8c8;
  }

  .category-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .read-more-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    &:active {
      background: $colorH1;
      color: $textColor;
      box-shadow: 0 4px 8px rgb(108, 107, 107);
    }
  }

  .pagination-carts {
    width: 768px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main__content {
    height: auto;
    width: 992px;
  }

  .articles_container {
    @include flex-center-column;
    margin-top: 20px;
    width: 992px;
    gap: 20px;

    &_article-content {
      padding: 10px;
      h3 {
        margin-top: 0;
        color: #333;
      }

      .article-date, .article-updated {
        font-size: 0.6em;
        color: $textColor;
      }
    }

    &_article-card {
      width: 400px;
      height: 400px;

      &:active {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    &_image-wrapper {
      padding: 10px;
      width: 100%;
      height: 200px;
      overflow: hidden;
    }

    &_article-image {
      width: 200px;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      border-radius: 50%;

      &:hover {
        transform: scale(1.05);
      }
    }

    &_article-content {
      padding: 15px;

      h3 {
        margin-top: 0;
        color: #333;
      }

      .article-date, .article-updated {
        font-size: 0.8em;
        color: $textColor;
      }
    }
  }

  .article-block {
    @include grid-2x2-plus-row;
    justify-items: center;
    width: 992px;
  }

  .loading, .error {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
  }

  .error {
    color: $colorError;
  }

  .articles_navigate {
    border-bottom: 2px solid #cbc8c8;
  }

  .category-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .read-more-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    &:active {
      background: $colorH1;
      color: $textColor;
      box-shadow: 0 4px 8px rgb(108, 107, 107);
    }
  }

  .pagination-carts {
    width: 992px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .articles_container {
    @include flex-center-column;
    margin-top: 20px;
    min-width: 1200px;
    gap: 20px;

    &_article-card {
      height: 500px;
      width: 500px;
    }

    &_image-wrapper {
      padding: 10px;
      width: 100%;
      height: 200px;
    }

    &_article-image {
      width: 200px;
      height: 100%;
    }
  }
  .article-block {
    @include grid-2x2-plus-row;
    justify-items: center;
    width: 1200px;
  }
  .pagination-carts {
    width: 1200px;
  }
}