@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.case-list-wrapper {
  width: 100%;
}

.case-list {
  @include flex-center-column;
  height: 250px;

  &_head {
    font-size: 34px;
    text-shadow: 2px 2px 4px #000000;
    color: $textColor;
    font-weight: lighter;
  }

  &_container {
    @include flex-center-column;

    width: calc(100% - 80px); // Оставляем место для стрелок


    &_card {

      width: 1020px;
      height: 200px;

      &_head {
        font-size: 24px;
        color: $textColor;
        font-weight: revert;
        text-align: center;
        margin-bottom: 15px;

      }

      &_description {
        color: $textColor;
        font-weight: lighter;
        font-size: 18px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        width: 100%;
      }

      &_details {
        @include flex-center-column;
        width: auto;
        position: relative;
        padding-bottom: 25px;
        border-bottom: 1px solid $logoBackground;

        &::before,
        &::after {
          content: "";
          position: absolute;
          bottom: -1px;
          width: calc(50% - 40px);
          height: 1px;
          background-color: $logoBackground;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;

          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 40px;
          height: 20px;
          background-image: url('../svg/infinity.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-color: $mainBackground;
          padding: 0 10px;
        }
      }

      &_category {
        color: $textColor;

        &_name {
          color: $logoBackground;
          font-size: 14px;
        }

        &_date-on {
          color: $textColor;
          font-size: 14px;
        }

        &_date-off {
          color: $textColor;
          font-size: 14px;
        }
      }
    }

  }
}

.case-list-header {
  text-align: center;
}

.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.carousel-arrow {
  &_left {
    border: none;
    background: none;

  }

  &_left svg {
    cursor: pointer;
  }

  &_left {
    &:hover {
      svg path {

        fill: $mainBackground;
        stroke: $colorBack;
      }
    }
  }

  &_right {
    border: none;
    background: none;
  }

  &_right svg {
    cursor: pointer;
  }

  &_right {
    &:hover {
      svg path {

        fill: $mainBackground;
        stroke: $colorBack;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575px) {
  .margin {
    margin-bottom: 10px;
  }
  .case-list-wrapper {
    width: 375px;
  }

  .case-list {
    width: 375px;
    height: auto;

    &_head {
      font-size: 20px;
      text-shadow: 1px 1px 2px #000000;
    }

    &_container {
      &_card {
        width: 280px;
        height: auto;

        &_head {
          font-size: 16px;
        }

        &_description {
          font-size: 11px;
        }

        &_category {
          color: $textColor;
          font-size: 11px;

          &_name {
            color: $logoBackground;
            font-size: 11px;
          }

          &_date-on {
            color: $textColor;
            font-size: 11px;
            p {
              font-size: 12px;
            }
          }

          &_date-off {
            color: $textColor;
            font-size: 11px;
          }
        }
      }

    }
  }

  .carousel-arrow {
    &_left svg {
      cursor: pointer;
      width: 20px;
    }

    &_right svg {
      cursor: pointer;
      width: 20px;
    }

  }
}

@media (min-width: 576px) and (max-width: 767px) {

  .case-list-wrapper {
    width: 576px;
  }

  .case-list {
    width: 576px;
    height: auto;

    &_head {
      font-size: 24px;
      text-shadow: 1px 1px 2px #000000;
    }

    &_container {
      &_card {
        width: 460px;

        &_head {
          font-size: 18px;
        }

        &_description {
          font-size: 12px;
        }

        &_category {
          color: $textColor;
          font-size: 12px;

          &_name {
            color: $logoBackground;
            font-size: 12px;
          }

          &_date-on {
            color: $textColor;
            font-size: 12px;
            p {
              font-size: 12px;
            }
          }

          &_date-off {
            color: $textColor;
            font-size: 12px;
          }
        }
      }

    }
  }

  .carousel-arrow {
    &_left svg {
      cursor: pointer;
      width: 30px;
    }

    &_right svg {
      cursor: pointer;
      width: 30px;
    }

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .case-list-wrapper {
    width: 768px;
  }

  .case-list {
    width: 768px;
    height: auto;

    &_head {
      font-size: 26px;
      text-shadow: 1px 1px 2px #000000;
    }

    &_container {
      &_card {
        width: 600px;

        &_head {
          font-size: 20px;
        }

        &_description {
          font-size: 12px;
        }

        &_category {
          color: $textColor;
          font-size: 12px;

          &_name {
            color: $logoBackground;
            font-size: 12px;
          }

          &_date-on {
            color: $textColor;
            font-size: 12px;
            p {
              font-size: 12px;
            }
          }

          &_date-off {
            color: $textColor;
            font-size: 12px;
          }
        }
      }

    }
  }

  .carousel-arrow {
    &_left svg {
      cursor: pointer;
      width: 30px;
    }

    &_right svg {
      cursor: pointer;
      width: 30px;
    }

  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .case-list-wrapper {
    width: 992px;
  }
  .case-list {
    width: 992px;
    height: auto;

    &_head {
      font-size: 28px;
      text-shadow: 1px 1px 2px #000000;
    }

    &_container {
      &_card {
        width: 800px;

        &_head {
          font-size: 22px;
          color: $textColor;
        }

        &_description {
          font-size: 14px;
        }

      }

    }
  }
}


