@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.up {
  height: 50px;
  width: $widthSite;
  margin: 0 auto;
  border: none;
  background: none;
  cursor: pointer;


  &:hover {
    svg path {
      fill: $mainBackground;
      stroke: $colorBack;
      stroke-width: 2
    }
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .up {
    height: 40px;
    width: 340px;
    margin: 0 auto;
    border: none;
    background: none;
    cursor: pointer;
  }
  .up svg path {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 575px) and (max-width: 1199px) {
  .up {
    top: 20px;
    height: 55px;
    width: 992px;
  }
  .up svg {
    width: 40px;
    height: 40px;
  }
}
