@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.map {
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: $textColor;
    text-shadow: #393838 2px 2px 4px;
    width: 100%;

    &_center {
      width: 1600px;
      height: 300px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      @media (max-width: 1600px) {
        .map {
          &__content {
            width: 1180px;
          }
        }

      }
    }
  }


  @media (min-width: 360px) and (max-width: 575px) {
    .map {
      &__content {
        width: 340px;

        &_center {
          width: 340px;
        }
      }
    }
  }
  @media (min-width: 575px) and (max-width: 767px) {
    .map {
      &__content {
        width: 575px;

        &_center {
          width: auto;

        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .map {
      &__content {
        min-width: 750px;
        max-width: 980px;

        &_center {
          width: auto;
        }
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .map {
      &__content {
        min-width: 980px;
        max-width: 1180px;

        &_center {
          width: 980px;
        }
      }
    }

  }
  @media (min-width: 1200px) and (max-width: 1599px) {
    .map {
      &__content {
        width: 1180px;

        &_center {
          width: 1180px;
        }
      }
    }
  }
}
