@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";
.map {
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: $textColor;
    text-shadow: #393838 2px 2px 4px;

    &_center {
      width: 1600px;
      height: 300px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      @media (max-width: 1600px) {
        width: 1200px;
      }

      @media (max-width: 1199px) {
        width: 992px;
      }

      @media (max-width: 991px) {
        width: 768px;
      }

      @media (max-width: 767px) {
        width: 576px;
      }

      @media (max-width: 575px) {
        width: 375px;
      }
    }
  }
}