@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.nav {
  &_link {
    @include flex-space-around;
    gap: 20px;

    :hover {
      color: $colorH1;

      svg {
        path {
          stroke: $colorNavigate !important;
          fill: $colorH1 !important;
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .nav {
    width: 100%;
    height: auto;

    &_link {
      @include grid-5x2-plus-colum;
      width: auto;

      a {
        transition: filter 0.3s ease;

        &svg:after {
          fill: #FFD700FF;
          stroke: none;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .nav {
    min-width: 576px;
    max-width: 766px;
    height: auto;

    &_link {
      @include grid-5x2-plus-colum;
      width: 100%;

      a {
        transition: filter 0.3s ease;

        &svg:after {
          fill: #FFD700FF;
          stroke: none;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav {
    height: auto;
    padding: 10px;

    &_link {
      @include grid-5x2-plus-colum;
      //width: auto;
      gap: 10px;

      a {
        transition: filter 0.3s ease;

        &svg:after {
          fill: #FFD700FF;
          stroke: none;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer {
    width: 992px;

    &__nav {
      width: 992px;

      &_item {
        font-size: $sizePage;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .footer {
    width: 1200px;

    &__nav {
      width: 1200px;

      &_item {
        font-size: $sizeNavigate;
      }
    }
  }
}