@import './assets/styles/variables';
@import "./assets/styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;

  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  font-family: 'Lora', serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background: $mainBackground;
}

.layout {
  display: flex;
  width: $widthSite;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}
.Head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  z-index: 1;
}
.content {
  overflow: scroll;
  height: calc(100vh - 75px - 75px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: $mainBackground;

}
.App-footer {
  position: fixed;
  bottom: 0;
  width: $widthSite;
  height: 75px;
  background-color: $headerBackground;
  color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-scroll {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: $mainBackground;
}
