@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";
.logo{
  @include flex-center-column;
  height: $heightSite;
  width: $widthSite;
  background-color: $logoBackground;
  .logo__h1 {
    background: none;
    box-sizing: border-box;
    width: 200px;
    border: none;
    border-bottom: 3px solid #FFD700FF;
    h1 {
      text-align: center;
      border: none;
      border-bottom: 2px solid #282c34;
      color: #FFD700FF;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }
  .logo__p p{
    color: #FFD700FF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}