@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@mixin flex-center-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@mixin flex-between {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin grid-2x2-plus-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  text-align: center;
  gap: 10px;
}
@mixin grid-2x2-plus-column {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 2fr 1fr;
}
@mixin grid-2x2-plus-riw {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  text-align: center;
  gap: 10px;
}
@mixin grid-6x2-plus-colum {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: auto auto auto;
  text-align: center;
  gap: 10px;
}