$widthSite: 100%;
$heightSite: 100vh;
$widthSiteContent: 1440px;
$heightSiteContent: 100vh;
$logoBackground: #1a1f27;
$mainBackground: #F3F7FA;
$headerBackground: #1a1f27;
$colorH1: #FFD700FF;
$colorNavigate: #F6F6F6;
$colorP: #49464C;
$sizeNavigate: 20px;
$sizeContent: 28px;