$widthSite: 100%;
$heightSite: 100vh;
$widthSiteContent: 1440px;
$heightSiteContent: 100vh;
$logoBackground: #1D3557;
$mainBackground: #F7F7F7;
$headerBackground: rgb(26, 31, 39);
$colorH1: #FFD700FF;
$colorNavigate: #ffffff;
$colorBack: rgb(75 75 75 / 60%);
$colorError: #d32f2f;
$sizeNavigate: 20px;
$sizeContent: 28px;
$sizePage: 16px;
$textColor: rgb(75, 75, 75);